params {
    accession = 'DRR030302'
    outdir    = 'results'
    reference = null
    reads     = null

    conda_path = null
}

process {
    conda = "envs/bioinfo.yml"
}

profiles {

    local {
        process.executor = 'local'

        conda.enabled = true
        conda.cacheDir = params.conda_path

        process.cpus = 2
        process.memory = '4 GB'
    }

    cluster {
        process.executor = 'slurm'

        conda.enabled = true

        process.cpus = 8
        process.memory = '16 GB'
    }

    container {
        process.executor = 'local'

        docker.enabled = true
        docker.autoMounts = true

        process.container = 'hiroomy/bioinfo:latest'

        process.cpus = 4
        process.memory = '5 GB'
    }
}