params {
    accession = 'DRR030302'
    outdir    = 'results'
    reference = null 
}

docker {
    enabled = true
    autoMounts = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: 'DOWNLOAD_SRA' { 
        container = 'erickutschera/sra:3.2.1' 
    }
    
    withName: 'FASTQC_RAW|FASTQC_TRIM' { 
        container = 'biocontainers/fastqc:v0.11.9_cv8' 
    }
    
    withName: 'FASTP' { 
        container = 'nanozoo/fastp:0.23.1--9f2e255' 
    }
    
    withName: 'SPADES' { 
        container = 'staphb/spades:latest' 
    }
    
    withName: 'MAPPING' { 
        container = 'mblanche/bwa-samtools:latest'
    }
    
    withName: 'PLOT_COVERAGE' { 
        container = 'mblanche/bwa-samtools:latest' 
    }
}
